//
//  Config.xcconfig
//  Scentdex
//
//  Created by macbook on 01/04/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

FRAGELLA_API_KEY = 5f0f5ab6b78a56b3a7873912a1abe391af40e52dd36e9a5bd7af784c9e2ab9a6
    





