//
//  Config.xcconfig
//  Scentdex
//
//  Created by macbook on 01/04/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

FRAGELLA_API_KEY = 3129b072ddb0d8f1b4d1858d99d498fc60986f5c4a19b4f6da9307f77930966f
    





