//
//  Config.xcconfig
//  Scentdex
//
//  Created by macbook on 01/04/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

FRAGELLA_API_KEY = 05e6633613bab0d86fc97b6089373daf0304e8d10ae506b2e6d612ca94120e40

